<li>
	<%= form_for(@todo, :remote => true, html: { id: "new_todo_" + @todo.form_uid.to_s } ) do |f| %>
		<!--
		<% if @todo.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

				<ul>
				<% @todo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
		-->
		
		<%= f.text_field :text, :autocomplete => "off" %>
		<!--
		<%= f.number_field :hours %>
		-->
		<%= f.hidden_field :scheduled_day %>
		<%= f.hidden_field :form_uid %>
		 <!-- <%= f.submit %> -->
	<% end %>

</li>
