<li id="todo_<%= todo.id %>" class="todo">
	<span class="todo_text" style="<%=   todo.complete ? "color:#565;text-decoration: line-through;font-size:105%;" : "color:#211;font-size:105%;" %>">
	<%= capitalise_sentense(todo[:text]) %></span>
	<% unless todo.complete %>
		<%= link_to "<input type='checkbox' style='width:10px;height:10px;' />".html_safe, "#", complete_path: complete_todo_path(todo), class: "complete", style: "padding:0;margin:0;float:right;", onclick: '' %>
	<% else %>
		<%= link_to image_tag("closelabel.png", :style => "width:8px;height:8px;"), todo, remote: true, method: :delete, style: "float:right;width:10px;height:10px;padding-right:2px;" %>
	<% end %>
</li>
